#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################  
# 地牢重生配置  
########################################  
#  
#    DungeonRespawn.Enable  
#        描述: 启用地牢重生模块。  
#        默认值:     0 - 禁用  
#                     1 - 启用  
#  
  
DungeonRespawn.Enable = 1  
  
#  
#    DungeonRespawn.RespawnHealthPct  
#        描述: 重生时具有的生命值百分比。  
#        范围:       0.0 - 100.0  
#        默认值:     100.0  
#  
  
DungeonRespawn.RespawnHealthPct = 50.0
